# Python virtual environments
venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# IDE specific files
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db

# User configuration
user_data/*.txt
